@font-face {
  font-family: 'pfThin';
  src: url("../font/pfdintextpro-thin-webfont.eot");
  src: url("../font/pfdintextpro-thin-webfont.eot?#iefix") format("embedded-opentype"), url("../font/pfdintextpro-thin-webfont.woff") format("woff"), url("../font/pfdintextpro-thin-webfont.ttf") format("truetype"), url("../font/pfdintextpro-thin-webfont.svg#pf_dintext_prothin") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'pfReg';
  src: url("../font/pfdintextpro_reg-webfont.eot");
  src: url("../font/pfdintextpro_reg-webfont.eot?#iefix") format("embedded-opentype"), url("../font/pfdintextpro_reg-webfont.woff") format("woff"), url("../font/pfdintextpro_reg-webfont.ttf") format("truetype"), url("../font/pfdintextpro_reg-webfont.svg#pf_dintext_proregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'pfBold';
  src: url("../font/pfdintextpro-bold-webfont.eot");
  src: url("../font/pfdintextpro-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../font/pfdintextpro-bold-webfont.woff") format("woff"), url("../font/pfdintextpro-bold-webfont.ttf") format("truetype"), url("../font/pfdintextpro-bold-webfont.svg#pf_dintext_probold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'pfLight';
  src: url("../font/pdfinpextpro-light-webfont.eot");
  src: url("../font/pdfinpextpro-light-webfont.eot?#iefix") format("embedded-opentype"), url("../font/pdfinpextpro-light-webfont.woff") format("woff"), url("../font/pdfinpextpro-light-webfont.ttf") format("truetype"), url("../font/pdfinpextpro-light-webfont.svg#pf_dintext_prolight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'pfMed';
  src: url("../font/pfdintextpro-medium-webfont.eot");
  src: url("../font/pfdintextpro-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../font/pfdintextpro-medium-webfont.woff") format("woff"), url("../font/pfdintextpro-medium-webfont.ttf") format("truetype"), url("../font/pfdintextpro-medium-webfont.svg#pf_dintext_promedium") format("svg");
  font-weight: normal;
  font-style: normal; }
* {
  margin: 0;
  padding: 0;
  vertical-align: top; }

/*=========== $ colors ===========*/
/*=========== $ colors ===========*/
/* ========== $fonts =========== */
/* ========== $fonts =========== */
/* ========== general =========== */
html, body {
  height: 100%;
  font: 13px "Open sans", sans-serif;
  color: #303030; }

div {
  margin: auto; }

h1 {
  font: 24px "pfBold", sans-serif;
  color: #067ece;
  text-transform: uppercase; }

h2 {
  font: 18px "pfBold", sans-serif;
  color: #fbfbfb;
  text-transform: uppercase; }

h3 {
  font: 18px "pfBold", sans-serif;
  color: #fbfbfb;
  text-transform: uppercase; }

h4 {
  font: 14px "pfLight", sans-serif;
  color: #fbfbfb;
  text-transform: uppercase; }

h5 {
  font: 13px "pfBold", sans-serif;
  color: #202020;
  text-transform: uppercase; }

.no-pad {
  padding: 0; }

.clearfix {
  float: none;
  clear: both; }

.centration {
  text-align: center; }

.right {
  float: right; }

/* ======== header ======= */
header {
  padding-top: 50px;
  margin-bottom: 2px; }
  header p {
    color: #737373;
    font: 14px "pfReg", sans-serif;
    margin-bottom: 7px;
    letter-spacing: 1px; }
    header p a {
      text-decoration: none;
      color: #737373;
      font: 14px "pfReg", sans-serif;
      letter-spacing: 1px; }
  header .topLogo {
    width: 225px;
    height: 34px;
    display: block; }
  header .serachForm {
    text-align: right; }
    header .serachForm input[type=text] {
      border: none;
      background: #f5f5f5 url(../img/glass.png) 250px 11px no-repeat;
      padding: 12px 10px;
      width: 261px; }
  header .langBlock {
    margin: 10px 0; }
    header .langBlock a {
      text-decoration: none;
      font: 12px "pfReg", sans-serif;
      color: #737373; }
      header .langBlock a:hover, header .langBlock a.activeLang {
        color: #0093ec; }
      header .langBlock a:before {
        content: "|";
        color: #dedede;
        margin: 0 6px 0 0; }
      header .langBlock a:before:hover {
        color: #dedede; }
      header .langBlock a:first-child:before {
        content: "" !important; }

/* end header */
.menuBlock {
  width: 1190px !important;
  /* end nav */ }
  .menuBlock ul {
    display: block;
    margin: o auto;
    width: 1185px; }
    .menuBlock ul li {
      float: left;
      list-style: none;
      position: relative;
      border-left: 1px solid #b0def9;
      /* &:hover>ul{display:block;} */ }
      .menuBlock ul li:first-child {
        border: none; }
      .menuBlock ul li a {
        text-align: center;
        padding: 7px 0;
        width: 167px;
        letter-spacing: 1px; }
      .menuBlock ul li ul {
        display: none;
        position: absolute;
        top: 40px;
        border-top: 1px solid #88ccf2;
        width: 100%;
        z-index: 5; }
        .menuBlock ul li ul li {
          float: none;
          list-style: none;
          border: none; }
          .menuBlock ul li ul li a {
            width: 131px;
            display: block;
            text-align: left;
            padding: 7px 18px;
            background: #31a7f0;
            text-transform: inherit;
            letter-spacing: 2px; }
            .menuBlock ul li ul li a:hover {
              background: #0093ec; }
              .menuBlock ul li ul li a:hover ul {
                display: block;
                -webkit-transition: all 0.2s linear;
                /* Safari 3.2+, Chrome */
                -moz-transition: all 0.2s linear;
                /* Firefox 4-15 */
                -o-transition: all 0.2s linear;
                /* Opera 10.5-12.00 */
                transition: all 0.2s linear;
                /* Firefox 16+, Opera 12.50+ */ }
      .menuBlock ul li a {
        background: #0093ec;
        color: #fff;
        font: 13px "pfLight", sans-serif;
        text-decoration: none;
        text-transform: uppercase;
        width: 167.5px;
        display: block;
        text-align: center;
        padding: 12px 0;
        position: relative;
        -webkit-transition: all 0.2s linear;
        /* Safari 3.2+, Chrome */
        -moz-transition: all 0.2s linear;
        /* Firefox 4-15 */
        -o-transition: all 0.2s linear;
        /* Opera 10.5-12.00 */
        transition: all 0.2s linear;
        /* Firefox 16+, Opera 12.50+ */ }
        .menuBlock ul li a:hover {
          background: #31a7f0; }
          .menuBlock ul li a:hover ul {
            display: block; }
          .menuBlock ul li a:hover .nawImg, .menuBlock ul li a:hover .bottArr {
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
            filter: alpha(opacity=100);
            -moz-opacity: 1;
            -khtml-opacity: 1;
            opacity: 1 !important; }
        .menuBlock ul li a.activeMenu {
          background: #31a7f0 !important; }
          .menuBlock ul li a.activeMenu ul {
            display: block; }
          .menuBlock ul li a.activeMenu .nawImg, .menuBlock ul li a.activeMenu .bottArr {
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
            filter: alpha(opacity=100);
            -moz-opacity: 1;
            -khtml-opacity: 1;
            opacity: 1 !important; }
        .menuBlock ul li a .nawImg {
          width: 25px;
          height: 25px;
          display: block;
          position: absolute;
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
          filter: alpha(opacity=30);
          -moz-opacity: 0.3;
          -khtml-opacity: 0.3;
          opacity: 0.3 !important;
          left: 8px;
          top: 7px; }
        .menuBlock ul li a .bottArr {
          display: block;
          position: absolute;
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
          filter: alpha(opacity=30);
          -moz-opacity: 0.3;
          -khtml-opacity: 0.3;
          opacity: 0.3 !important;
          width: 11px;
          height: 11px;
          right: 7px;
          top: 15px;
          background-image: url(../img/sprite.png);
          background-repeat: no-repeat;
          background-position: -97px -62px; }
        .menuBlock ul li a .main {
          background-image: url(../img/sprite.png);
          background-repeat: no-repeat;
          background-position: -13px -8px; }
        .menuBlock ul li a .about {
          background-image: url(../img/sprite.png);
          background-repeat: no-repeat;
          background-position: -56px -8px; }
        .menuBlock ul li a .prod {
          background-image: url(../img/sprite.png);
          background-repeat: no-repeat;
          background-position: -98px -8px; }
        .menuBlock ul li a .partners {
          background-image: url(../img/sprite.png);
          background-repeat: no-repeat;
          background-position: -139px -8px; }
        .menuBlock ul li a .news {
          background-image: url(../img/sprite.png);
          background-repeat: no-repeat;
          background-position: -184px -9px; }
        .menuBlock ul li a .contact {
          background-image: url(../img/sprite.png);
          background-repeat: no-repeat;
          background-position: -229px -9px; }
        .menuBlock ul li a .price {
          background-image: url(../img/sprite.png);
          background-repeat: no-repeat;
          background-position: -275px -8px; }

/* slider */
.sliderWrapper {
  position: relative;
  overflow: hidden; }
  .sliderWrapper .list_carousel img.slide {
    display: block;
    float: left;
    height: auto;
    visibility: hidden;
    width: 100%; }
  .sliderWrapper .pagWrapper {
    position: absolute;
    background: rgba(5, 75, 117, 0.7);
    width: 100%;
    bottom: 0px; }
    .sliderWrapper .pagWrapper .pager2 {
      float: right;
      padding: 7px 0;
      margin-right: 10px; }
      .sliderWrapper .pagWrapper .pager2 a {
        display: block;
        float: left;
        width: 11px;
        height: 3px;
        background: #fff;
        margin-right: 5px;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        filter: alpha(opacity=50);
        -moz-opacity: 0.5;
        -khtml-opacity: 0.5;
        opacity: 0.5 !important; }
        .sliderWrapper .pagWrapper .pager2 a span {
          display: none; }
        .sliderWrapper .pagWrapper .pager2 a.selected {
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
          filter: alpha(opacity=100);
          -moz-opacity: 1;
          -khtml-opacity: 1;
          opacity: 1 !important; }

/* end slider */
.contentWrapper {
  /* .leftBlockContent{width:261px;margin:0 auto;} */
  background: #f3f3f3;
  padding-bottom: 60px; }
  .contentWrapper .grid_5 {
    /* position:relative;
    top:-218px;
    z-index:5; */
    margin-top: -213px; }
  .contentWrapper .normalMargin {
    margin-top: 0px !important; }
  .contentWrapper .whiteBlock {
    background: #fbfbfb;
    padding: 55px 57px 59px; }
    .contentWrapper .whiteBlock h2 {
      color: #067ece;
      margin-bottom: 21px;
      font-size: 20px; }
  .contentWrapper .videoBlock {
    height: 230px; }
  .contentWrapper .darkBlock {
    padding: 55px 57px 59px;
    background: #202020; }
    .contentWrapper .darkBlock h2 {
      margin-bottom: 21px; }
    .contentWrapper .darkBlock p {
      color: #b1b1b1; }
  .contentWrapper .blueBlock {
    background: #067ece; }
    .contentWrapper .blueBlock a {
      display: block;
      text-decoration: none;
      padding: 55px 50px 59px 57px;
      -webkit-transition: all 0.2s linear;
      /* Safari 3.2+, Chrome */
      -moz-transition: all 0.2s linear;
      /* Firefox 4-15 */
      -o-transition: all 0.2s linear;
      /* Opera 10.5-12.00 */
      transition: all 0.2s linear;
      /* Firefox 16+, Opera 12.50+ */ }
      .contentWrapper .blueBlock a:hover {
        background: #31a7f0; }
  .contentWrapper .bigContent {
    background: #fff;
    margin-top: 22px;
    padding: 53px 59px 55px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    /*Firefox 1-3*/
    -webkit-box-sizing: border-box;
    /* Safari */ }
    .contentWrapper .bigContent h1 {
      margin-bottom: 28px; }
    .contentWrapper .bigContent .paginationBlock {
      text-align: center;
      margin-top: 41px; }
      .contentWrapper .bigContent .paginationBlock a {
        background: #f5f5f5;
        border: 1px solid #dddddd;
        padding: 4px 10px;
        color: #0083e8;
        margin-right: 10px; }
        .contentWrapper .bigContent .paginationBlock a:hover, .contentWrapper .bigContent .paginationBlock a.activePag {
          color: #666666;
          text-decoration: none;
          -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#d5d5d5)";
          /*IE 8*/
          -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#d5d5d5)";
          /*IE 8*/
          -moz-box-shadow: inset 1px 1px 3px #d5d5d5;
          /*FF 3.5+*/
          -webkit-box-shadow: inset 1px 1px 3px #d5d5d5;
          /*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
          box-shadow: inset 1px 1px 3px #d5d5d5;
          /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
          filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#d5d5d5);
          /*IE 5.5-7*/ }
    .contentWrapper .bigContent .loadItem {
      margin-left: -20px; }
      .contentWrapper .bigContent .loadItem a {
        padding: 20px 20px 0 20px;
        width: 97%;
        display: block;
        -webkit-transition: all 0.2s linear;
        /* Safari 3.2+, Chrome */
        -moz-transition: all 0.2s linear;
        /* Firefox 4-15 */
        -o-transition: all 0.2s linear;
        /* Opera 10.5-12.00 */
        transition: all 0.2s linear;
        /* Firefox 16+, Opera 12.50+ */ }
        .contentWrapper .bigContent .loadItem a:hover {
          background: #e9f3fb;
          text-decoration: none; }
          .contentWrapper .bigContent .loadItem a:hover .leftSide span {
            background-position: 0 0; }
        .contentWrapper .bigContent .loadItem a .leftSide {
          width: 80px;
          float: left; }
          .contentWrapper .bigContent .loadItem a .leftSide span {
            width: 30px;
            height: 37px;
            background: url(../img/loadIcon.png) 0 100% no-repeat;
            display: block;
            -webkit-transition: all 0.2s linear;
            /* Safari 3.2+, Chrome */
            -moz-transition: all 0.2s linear;
            /* Firefox 4-15 */
            -o-transition: all 0.2s linear;
            /* Opera 10.5-12.00 */
            transition: all 0.2s linear;
            /* Firefox 16+, Opera 12.50+ */ }
        .contentWrapper .bigContent .loadItem a .rightSide {
          float: left;
          width: 84%;
          border-bottom: 1px solid #f1f1f1; }
          .contentWrapper .bigContent .loadItem a .rightSide h1 {
            margin: 0; }
    .contentWrapper .bigContent .newsItem {
      margin-left: -20px;
      margin-bottom: 13px; }
      .contentWrapper .bigContent .newsItem a {
        display: block;
        width: 97%;
        padding: 15px 20px;
        -webkit-transition: all 0.2s linear;
        /* Safari 3.2+, Chrome */
        -moz-transition: all 0.2s linear;
        /* Firefox 4-15 */
        -o-transition: all 0.2s linear;
        /* Opera 10.5-12.00 */
        transition: all 0.2s linear;
        /* Firefox 16+, Opera 12.50+ */ }
        .contentWrapper .bigContent .newsItem a:hover {
          background: #e9f3fb;
          text-decoration: none; }
        .contentWrapper .bigContent .newsItem a img {
          float: left;
          margin-right: 20px; }
        .contentWrapper .bigContent .newsItem a .newsItemText {
          position: relative;
          float: left;
          width: 379px;
          padding-bottom: 20px; }
          .contentWrapper .bigContent .newsItem a .newsItemText h1 {
            font: 22px "pfMed", sans-serif;
            margin-bottom: 5px; }
          .contentWrapper .bigContent .newsItem a .newsItemText p {
            font: 13px "Open sans", sans-serif;
            color: #989898; }
          .contentWrapper .bigContent .newsItem a .newsItemText span {
            position: absolute;
            bottom: 0;
            left: 0;
            font: 13px "Open sans", sans-serif;
            font-weight: bold;
            color: #747373; }
    .contentWrapper .bigContent p, .contentWrapper .bigContent h5 {
      margin-bottom: 18px;
      color: #202020; }
    .contentWrapper .bigContent h5 {
      margin-top: 39px; }
    .contentWrapper .bigContent ul li {
      list-style-position: inside;
      margin-bottom: 19px; }
    .contentWrapper .bigContent p.date {
      color: #747373;
      margin: 41px 0 0 0;
      font-weight: bold; }
    .contentWrapper .bigContent .greyTextBlock {
      background: #e9f3fb;
      padding: 21px 0 26px 20px;
      margin-bottom: 9px; }
      .contentWrapper .bigContent .greyTextBlock h5 {
        margin-top: 0; }
      .contentWrapper .bigContent .greyTextBlock p {
        margin-bottom: 0; }
    .contentWrapper .bigContent .telBlock {
      margin-bottom: 18px; }
      .contentWrapper .bigContent .telBlock p {
        margin-bottom: 0; }
    .contentWrapper .bigContent .linkblock {
      margin-bottom: 155px; }
      .contentWrapper .bigContent .linkblock .alpha {
        margin-left: -10px; }
      .contentWrapper .bigContent .linkblock ul li {
        list-style-image: url("../img/liDot.png");
        list-style-position: inside;
        /* margin-bottom: 9px; */
        padding: 13px 10px; }
        .contentWrapper .bigContent .linkblock ul li:hover {
          background: #e5f0f7; }
        .contentWrapper .bigContent .linkblock ul li a {
          /* display:inline-table;  */
          display: inline-block;
          margin-left: 20px;
          margin-top: -17px;
          width: 94%;
          text-decoration: none;
          color: #303030;
          /* float:right; */
          -webkit-transition: all 0.2s linear;
          /* Safari 3.2+, Chrome */
          -moz-transition: all 0.2s linear;
          /* Firefox 4-15 */
          -o-transition: all 0.2s linear;
          /* Opera 10.5-12.00 */
          transition: all 0.2s linear;
          /* Firefox 16+, Opera 12.50+ */ }
          .contentWrapper .bigContent .linkblock ul li a:hover {
            background: #e5f0f7; }
    .contentWrapper .bigContent .bannerBlock {
      background: url("../img/bannBckg.jpg") no-repeat;
      -webkit-transition: all 0.2s linear;
      /* Safari 3.2+, Chrome */
      -moz-transition: all 0.2s linear;
      /* Firefox 4-15 */
      -o-transition: all 0.2s linear;
      /* Opera 10.5-12.00 */
      transition: all 0.2s linear;
      /* Firefox 16+, Opera 12.50+ */ }
      .contentWrapper .bigContent .bannerBlock:hover {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
        filter: alpha(opacity=80);
        -moz-opacity: 0.8;
        -khtml-opacity: 0.8;
        opacity: 0.8 !important; }
      .contentWrapper .bigContent .bannerBlock a {
        display: block;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        /*Firefox 1-3*/
        -webkit-box-sizing: border-box;
        /* Safari */
        padding: 26px 98px 20px;
        text-decoration: none;
        text-transform: uppercase;
        color: #fbfbfb;
        font: 20px "pfMed", sans-serif; }
        .contentWrapper .bigContent .bannerBlock a span {
          font: 14px "pfThin", sans-serif;
          display: block;
          text-transform: initial;
          margin-top: 4px; }
  .contentWrapper .leftBlockHead {
    padding: 45px 55px 38px;
    background: #fff url(../img/topLeftBg.png) 106% -9px no-repeat;
    height: 42px; }
    .contentWrapper .leftBlockHead h1 {
      font-size: 22px; }
  .contentWrapper .leftBanner {
    background: url(../img/leftBanBg.jpg) no-repeat;
    background-size: cover;
    -webkit-transition: all 0.2s linear;
    /* Safari 3.2+, Chrome */
    -moz-transition: all 0.2s linear;
    /* Firefox 4-15 */
    -o-transition: all 0.2s linear;
    /* Opera 10.5-12.00 */
    transition: all 0.2s linear;
    /* Firefox 16+, Opera 12.50+ */ }
    .contentWrapper .leftBanner:hover {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
      filter: alpha(opacity=80);
      -moz-opacity: 0.8;
      -khtml-opacity: 0.8;
      opacity: 0.8 !important; }
    .contentWrapper .leftBanner a {
      display: block;
      font: 20px "pfBold", sans-serif;
      color: #fbfbfb;
      text-transform: uppercase;
      text-decoration: none;
      padding: 45px 55px 38px; }
      .contentWrapper .leftBanner a span {
        display: block;
        font: 14px "pfThin", sans-serif;
        margin-top: 4px;
        text-transform: initial; }

/* end contentWrapper */
footer {
  background: #202020;
  padding-top: 55px; }
  footer .copyRight {
    color: #424242;
    position: relative;
    top: -15px;
    float: left; }
  footer h4 {
    margin-bottom: 17px; }
  footer ul li {
    list-style: none;
    margin-bottom: 0px; }
    footer ul li a {
      text-decoration: none;
      color: #919191;
      font-size: 12px; }
      footer ul li a:hover {
        text-decoration: underline; }
  footer .footerContact p {
    color: #404040;
    font-size: 12px; }
  footer .footerContact a {
    color: #2a5676; }
    footer .footerContact a:hover {
      text-decoration: none; }
  footer .footerLogo {
    display: block;
    float: right; }
  footer .langBlock {
    margin: 139px 0 38px; }
    footer .langBlock a {
      text-decoration: none;
      font: 12px "pfReg", sans-serif;
      color: #737373; }
      footer .langBlock a:hover, footer .langBlock a.activeLang {
        color: #0093ec; }
      footer .langBlock a:before {
        content: "|";
        color: #323131;
        margin: 0 6px 0 0; }
      footer .langBlock a:before:hover {
        color: #323131; }
      footer .langBlock a:first-child:before {
        content: "" !important; }
  footer .textContact {
    border-left: 1px solid #2f2f2f;
    padding-left: 38px;
    margin-left: 30px; }
    footer .textContact .footerContact {
      margin-bottom: 27px; }
    footer .textContact .noMarg {
      margin-bottom: 0 !important; }
  footer .darkFooter {
    margin-top: 10px;
    background: #1b1b1b;
    padding: 5px 0; }
    footer .darkFooter p {
      float: left;
      margin-top: 10px; }
    footer .darkFooter a {
      display: block;
      margin: 0 auto;
      width: 65px; }
  footer .footerSoc a {
    width: 26px;
    height: 26px;
    float: left;
    -webkit-transition: all 0.2s linear;
    /* Safari 3.2+, Chrome */
    -moz-transition: all 0.2s linear;
    /* Firefox 4-15 */
    -o-transition: all 0.2s linear;
    /* Opera 10.5-12.00 */
    transition: all 0.2s linear;
    /* Firefox 16+, Opera 12.50+ */
    margin-left: 7px; }
    footer .footerSoc a:hover {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
      filter: alpha(opacity=80);
      -moz-opacity: 0.8;
      -khtml-opacity: 0.8;
      opacity: 0.8 !important; }
  footer .footerSoc .yt {
    background: url("../img/ytIcon.png") no-repeat; }
  footer .footerSoc .in {
    background: url("../img/inIcon.png") no-repeat; }

/* end footer */
/* about page */
.bredcrumbs {
  border-top: 7px solid #dbe2e6;
  background: #f3f3f3;
  padding-top: 4px;
  height: 30px; }
  .bredcrumbs span {
    display: block;
    float: left;
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    background-position: -13px -256px;
    width: 6px;
    height: 3px;
    margin: 7px 2px 0; }
    .bredcrumbs span:first-child {
      width: 12px;
      height: 12px;
      background-image: url(../img/sprite.png);
      background-repeat: no-repeat;
      background-position: -8px -247px;
      margin: 0 6px 0 40px; }
  .bredcrumbs a {
    background: #067ece;
    color: #fff;
    text-decoration: none;
    padding: 2px 10px;
    font-size: 10px;
    min-width: 80px;
    text-align: center;
    float: left;
    -webkit-transition: all 0.2s linear;
    /* Safari 3.2+, Chrome */
    -moz-transition: all 0.2s linear;
    /* Firefox 4-15 */
    -o-transition: all 0.2s linear;
    /* Opera 10.5-12.00 */
    transition: all 0.2s linear;
    /* Firefox 16+, Opera 12.50+ */ }
    .bredcrumbs a:hover {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
      filter: alpha(opacity=80);
      -moz-opacity: 0.8;
      -khtml-opacity: 0.8;
      opacity: 0.8 !important;
      text-decoration: none; }
    .bredcrumbs a:last-of-type:hover {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      filter: alpha(opacity=100);
      -moz-opacity: 1;
      -khtml-opacity: 1;
      opacity: 1 !important;
      cursor: unset; }

/*================= contact page =================*/
a {
  text-decoration: none;
  color: #105888; }

a:hover {
  text-decoration: underline; }

.contentWrapper .lightBlock {
  padding: 33px 70px 55px 58px;
  background: #fff url(../img/bg1.png) no-repeat 100% 0; }
  .contentWrapper .lightBlock h2 {
    color: #3588c0;
    font-size: 20px;
    margin-bottom: 31px; }
.contentWrapper .colored-block {
  background: #f9f9ee;
  padding: 45px 10px 45px 67px;
  margin-top: 32px;
  width: 550px; }
  .contentWrapper .colored-block:first-child {
    margin-top: 0px; }
  .contentWrapper .colored-block .head {
    font-family: "pfBold", sans-serif;
    text-transform: uppercase; }
  .contentWrapper .colored-block p {
    color: #202020;
    font-size: 13px;
    margin-bottom: 0; }
  .contentWrapper .colored-block h5 {
    margin-bottom: 0;
    margin-top: 0; }
  .contentWrapper .colored-block .bordered {
    border-top: 1px solid #dbe2e6;
    margin: 19px 0 2px;
    padding-top: 17px; }
    .contentWrapper .colored-block .bordered .move-block {
      margin: 18px 0; }

/*================= image centration =================*/
.item {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  display: block;
  height: 172px;
  overflow: hidden;
  width: 172px;
  float: right;
  margin: 17px 27px 0px 0px; }
  .item > span {
    display: block;
    position: relative;
    right: 50%;
    text-align: center;
    top: auto;
    left: auto;
    bottom: auto; }
  .item .item_cont {
    display: inline-block;
    margin-right: -100%; }
  .item .item_cell {
    display: table-cell;
    height: 172px;
    vertical-align: middle; }
  .item img {
    height: 172px;
    width: auto;
    margin: 0; }

.caseForm {
  position: relative; }
  .caseForm input[type=text], .caseForm textarea {
    color: #222222;
    background: #dbe2e6;
    width: 100%;
    border: none;
    outline: none;
    font-size: 14px;
    font-family: "pfThin", sans-serif;
    padding: 10px 0px 10px 12px;
    margin-bottom: 7px; }
  .caseForm .button {
    right: -10px;
    bottom: 7px; }
  .caseForm textarea {
    resize: none;
    height: 145px; }

.button {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #fbfbfb;
  font-family: "pfBold", sans-serif;
  text-transform: uppercase;
  background: #3588c0;
  min-width: 130px;
  display: block;
  text-align: center;
  padding: 10px 15px;
  border: none;
  outline: none;
  cursor: pointer; }
  .button:hover {
    background: #0093ec;
    -webkit-transition: all 0.2s linear;
    /* Safari 3.2+, Chrome */
    -moz-transition: all 0.2s linear;
    /* Firefox 4-15 */
    -o-transition: all 0.2s linear;
    /* Opera 10.5-12.00 */
    transition: all 0.2s linear;
    /* Firefox 16+, Opera 12.50+ */ }

/*================= // image centration =================*/
/*================= // contact page =================*/
/*================= catalog page =================*/
.contentWrapper .leftBanner-bg {
  background: #389fde;
  background-image: url(../img/bg2.png);
  /* fallback */
  background-image: url(../img/bg2.png), -webkit-gradient(linear, left top, right top, color-stop(0%, #389fde), color-stop(100%, #067ece));
  background-image: url(../img/bg2.png), -webkit-linear-gradient(left, #389fde 0%, #067ece 100%);
  background-image: url(../img/bg2.png), -moz-linear-gradient(left, #389fde 0%, #067ece 100%);
  background-image: url(../img/bg2.png), -ms-linear-gradient(left, #389fde 0%, #067ece 100%);
  background-image: url(../img/bg2.png), -o-linear-gradient(left, #389fde 0%, #067ece 100%);
  background-image: url(../img/bg2.png), linear-gradient(to right, #389fde 0%, #067ece 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#389fde', endColorstr='#067ece',GradientType=1 );
  background-repeat: no-repeat;
  background-position: 100% 0;
  padding: 36px 58px; }
  .contentWrapper .leftBanner-bg h1 {
    font-size: 22px;
    font-family: "pfBold", sans-serif;
    color: #fbfbfb; }
.contentWrapper .side-menu {
  padding: 39px 0;
  background: #fff; }
  .contentWrapper .side-menu ul {
    list-style: none; }
    .contentWrapper .side-menu ul li a {
      font-family: "pfMed", sans-serif;
      color: #202020;
      text-transform: uppercase;
      display: block;
      font-size: 18px;
      padding: 10px 30px 10px 57px; }
      .contentWrapper .side-menu ul li a:hover, .contentWrapper .side-menu ul li a.active {
        text-decoration: none;
        background: #e3e8eb; }
.contentWrapper .grid-line {
  display: block;
  background: #fbfbfb;
  -webkit-box-shadow: 2px 2px 0px 0px #dadada;
  -moz-box-shadow: 2px 2px 0px 0px #dadada;
  box-shadow: 2px 2px 0px 0px #dadada;
  padding: 11px 12px;
  margin-bottom: 15px; }
  .contentWrapper .grid-line p, .contentWrapper .grid-line a {
    color: #989898; }
  .contentWrapper .grid-line p {
    margin-bottom: 41px; }
  .contentWrapper .grid-line:hover {
    text-decoration: none;
    -webkit-box-shadow: 3px 3px 0px 0px #c8ddeb;
    -moz-box-shadow: 3px 3px 0px 0px #c8ddeb;
    box-shadow: 3px 3px 0px 0px #c8ddeb; }
  .contentWrapper .grid-line .left-side {
    float: left; }
  .contentWrapper .grid-line .right-side {
    float: left;
    margin-left: 29px;
    width: 48%;
    padding: 4px 0 4px; }
  .contentWrapper .grid-line h2 {
    color: #067ece;
    font-size: 24px;
    font-family: "pfMed", sans-serif;
    margin-bottom: 16px; }
  .contentWrapper .grid-line .item {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    height: 171px;
    width: 357px;
    overflow: hidden;
    float: none;
    margin: 0;
    display: block; }
    .contentWrapper .grid-line .item .item_cont {
      display: inline-block; }
    .contentWrapper .grid-line .item img {
      width: auto;
      height: 100%; }
  .contentWrapper .grid-line .button {
    position: relative;
    display: inline-block;
    font-family: "pfLight", sans-serif; }

/*================= // catalog page =================*/

/*# sourceMappingURL=style.css.map */
