@font-face {
    font-family: 'pfThin';
    src: url('../font/pfdintextpro-thin-webfont.eot');
    src: url('../font/pfdintextpro-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/pfdintextpro-thin-webfont.woff') format('woff'),
         url('../font/pfdintextpro-thin-webfont.ttf') format('truetype'),
         url('../font/pfdintextpro-thin-webfont.svg#pf_dintext_prothin') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'pfReg';
    src: url('../font/pfdintextpro_reg-webfont.eot');
    src: url('../font/pfdintextpro_reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/pfdintextpro_reg-webfont.woff') format('woff'),
         url('../font/pfdintextpro_reg-webfont.ttf') format('truetype'),
         url('../font/pfdintextpro_reg-webfont.svg#pf_dintext_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'pfBold';
    src: url('../font/pfdintextpro-bold-webfont.eot');
    src: url('../font/pfdintextpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/pfdintextpro-bold-webfont.woff') format('woff'),
         url('../font/pfdintextpro-bold-webfont.ttf') format('truetype'),
         url('../font/pfdintextpro-bold-webfont.svg#pf_dintext_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'pfLight';
    src: url('../font/pdfinpextpro-light-webfont.eot');
    src: url('../font/pdfinpextpro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/pdfinpextpro-light-webfont.woff') format('woff'),
         url('../font/pdfinpextpro-light-webfont.ttf') format('truetype'),
         url('../font/pdfinpextpro-light-webfont.svg#pf_dintext_prolight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'pfMed';
    src: url('../font/pfdintextpro-medium-webfont.eot');
    src: url('../font/pfdintextpro-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/pfdintextpro-medium-webfont.woff') format('woff'),
         url('../font/pfdintextpro-medium-webfont.ttf') format('truetype'),
         url('../font/pfdintextpro-medium-webfont.svg#pf_dintext_promedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
*{margin:0;padding:0;}
/*=========== $ colors ===========*/
$white:#fff;
$menuLightBlue:#31a7f0;
$menuBlue:#0093ec;
$hBlue:#067ece;
$headerText:#737373;
$mainText:#303030;
$mainTetxLight:#b1b1b1;
$footerH:#fbfbfb;
$footerMain:#f3f3f3;
$footerLink:#2a5676;
$footerDark:#4a4a4a;
/*=========== $ colors ===========*/

/* ========== $fonts =========== */
	$main:13px 'Open sans',sans-serif;
	$menuTop:13px 'pfLight',sans-serif;
	$menuTopIn:14px 'pfLight',sans-serif;
	$regular:'pfReg',sans-serif;
	$medium:'pfMed',sans-serif;
	$bold:'pfBold',sans-serif;
	$light:'pfLight',sans-serif;
	$thin:'pfThin',sans-serif;
/* ========== $fonts =========== */
@mixin opacity($opacity) {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$opacity * 100})";
  filter: alpha(opacity=#{$opacity * 100});
  -moz-opacity: $opacity;
  -khtml-opacity: $opacity;
  opacity: $opacity;
}
@mixin transition($time){
	-webkit-transition: all $time ease;/* Safari 3.2+, Chrome */
	-moz-transition: all $time ease;/* Firefox 4-15 */
	-o-transition: all $time ease;/* Opera 10.5-12.00 */
	transition: all $time ease;/* Firefox 16+, Opera 12.50+ */
}

@mixin opacity($opacity) {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$opacity * 100})";
  filter: alpha(opacity=#{$opacity * 100});
  -moz-opacity: $opacity;
  -khtml-opacity: $opacity;
  opacity: $opacity;
}
@mixin box-sizing($rule){
	box-sizing: $rule;
	-moz-box-sizing:$rule; /*Firefox 1-3*/
	-webkit-box-sizing:$rule ; /* Safari */
}

// folder,filename,extension,repeat,x-pos,y-pos
@mixin background ($x:0, $y:0) {
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    background-position: #{$x}px #{$y}px;
}
/* ========== general =========== */
html, body {
    height:100%;
    font: $main;
	color:$mainText;
    }
div{margin:auto;}

h1{
    font:24px $bold;
    color: $hBlue;
    text-transform: uppercase;
}
h2{
    font:18px $bold;
    color: $footerH;
	text-transform: uppercase;
}
h3{
    font:18px $bold;
    color: $footerH;
    text-transform: uppercase;
}
h4{
    font:14px $light;
    color: $footerH;
    text-transform: uppercase;
}
.no-pad{padding:0;}
.clearfix{float:none; clear:both;}
.centration{text-align:center;}
.right{float:right;}

/* ======== header ======= */
header{
	padding-top:50px;
	
	p{
		color:$headerText;
		font:14px $regular;
		margin-bottom:7px;
		a{
			text-decoration:none;
			color:$headerText;
			font:14px $regular;
		}
	}
	.topLogo{
		width:225px;
		height:34px;
		display:block;
	}
	.serachForm {
		text-align:right;
		input[type=text]{
			border:none;
			background:#f5f5f5 url(../img/glass.png) 250px 11px no-repeat;
			padding:12px 10px;
			width:261px;
		}
	}
	.langBlock{
		margin:10px 0;
		a{
			text-decoration:none;
			font:12px $regular;
			color:$headerText;
			&:hover,&.activeLang{
				color:$menuBlue;
			}
			&:before{
				content:"|";
				color:#dedede;
				margin:0 6px 0 0;
			}
			&:before:hover{color:#dedede;}
			&:first-child:before{content:''!important;}
		}
	}
	
} /* end header */
.menuBlock{width:1190px!important;
ul{
	display:block;
	margin:o auto;
	width:1185px;
		li{
			float:left;
			list-style:none;
			position:relative;
			border-left:1px solid #b0def9;
			&:first-child{border:none;}
			ul{display:none;
				position:absolute;
				top:40px;
				border-top:1px solid #88ccf2;
				width:100%;
				z-index:5;
				li{
					float:none;
					list-style:none;
					border:none;
					
					a{
						width:167px;
						display:block;
						text-align:center;
						padding:7px 0;
						background:$menuLightBlue;
						text-transform:inherit;
						
						&:hover{
							background:$menuBlue;
							ul{display:block;@include transition(0.2s);}
						}
					}
				}
			}
			/* &:hover>ul{display:block;} */
			a{
				background:$menuBlue;
				color:$white;
				font:$menuTop;
				text-decoration:none;
				text-transform:uppercase;
				width:167.5px;
				display:block;
				text-align:center;
				padding:12px 0;
				position:relative;
				@include transition(0.2s);
				
				
				&:hover,.activeMenu{
					background:$menuLightBlue;
					ul{display:block;}
					.nawImg,.bottArr{@include opacity(1);}
					
				}
				
				.nawImg{
					width:25px;
					height:25px;
					display:block;
					position:absolute;
					@include opacity(0.3);
					left:8px;
					top:7px;
				}
				.bottArr{
					display:block;
					position:absolute;
					@include opacity(0.3);
					width:11px;
					height:11px;
					right:7px;
					top:15px;
					@include background (-97, -62);
				}
				.main{@include background (-13, -8)}
				.about{@include background (-56, -8)}
				.prod{@include background (-98, -8)}
				.partners{@include background (-139, -8)}
				.news{@include background (-184, -9)}
				.contact{@include background (-229, -9)}
				.price{@include background (-275, -8)}
			}
		}
} /* end nav */
}
/* slider */
.sliderWrapper{
	position:relative;
	overflow:hidden;
	.list_carousel{
		img.slide{
			display: block;
			float: left;
			height: auto;
			visibility: hidden;
			width: 100%;
		}
	}
	.pagWrapper{
		position:absolute;
		background:rgba(5,75,117,0.7);
		width:100%;
		bottom:0px;
		.pager2{
			float:right;
			padding:7px 0;
			margin-right:10px;
			a{
				display:block;
				float:left;
				width:11px;
				height:3px;
				background:$white;
				margin-right:5px;
				@include opacity(0.5);
				span{display:none;}
				&.selected{@include opacity(1);}
			}
		}
	}
	
}  /* end slider */
.contentWrapper{
	/* .leftBlockContent{width:261px;margin:0 auto;} */
	background:#f3f3f3;
	padding-bottom:60px;
	.grid_5{
		/* position:relative;
		top:-218px;
		z-index:5; */
		margin-top:-215px;
	}
	.whiteBlock{
		background:$footerH;
		padding:55px 57px 59px;
		h2{
			color:$hBlue;
			margin-bottom: 21px;
			font-size:20px;
		}
	}
	.videoBlock{height:230px;}
	.darkBlock{
		padding:55px 57px 59px;
		background:#202020;
		h2{
			margin-bottom: 21px;
		}
		p{color:$mainTetxLight;}
	}
	.blueBlock{
		padding:55px 50px 59px 57px;
		background:$hBlue;
	}
	.bigContent{
		background:$white;
		margin-top:22px;
		padding:53px 59px 90px;
		@include box-sizing(border-box);
		h1{margin-bottom:28px;}
		.linkblock{
			margin-bottom:155px;
			.alpha{margin-left:-10px;}
			ul{
				li{
					list-style-image:url('../img/liDot.png');
					list-style-position:inside; 
					/* margin-bottom: 9px; */
					padding:13px 10px;
					&:hover {
							background:#e5f0f7;
						}
					a{
						display:inline-table;
						width:95%;
						text-decoration:none;
						color:$mainText;
						@include transition(0.2s);
						&:hover {
							background:#e5f0f7;
						}
					}
				}
			}
		}
		.bannerBlock{
			background:url('../img/bannBckg.jpg') no-repeat;
			@include transition(0.2s);
			&:hover{@include opacity(0.8)}
			a{
				display:block;
				@include box-sizing(border-box);
				padding:26px 98px 20px;
				text-decoration:none;
				text-transform:uppercase;
				color:$footerH;
				font:20px $medium;
				span{
					font:14px $thin;
					display:block;
					text-transform:initial;
					margin-top:4px;
				}
			}
		}
	}
} /* end contentWrapper */
footer{
	background:#202020;
	padding-top:55px;
	
	.copyRight{
		color:#424242;
		position: relative;
		top: -15px;
		float:left;
	}
	h4{
		margin-bottom:17px;
	}
	ul{
		li{
			list-style:none;
			margin-bottom:2px;
			a{
				text-decoration:none;
				color:#919191;
				font-size:12px;
				&:hover{text-decoration:underline;}
			}
		}
	}
	.footerContact{
		p{
			color:#404040;
			font-size:12px;
		}
		a{color:#2a5676;
			&:hover{text-decoration:none;}
		}
	}
	.footerLogo{display:block; float:right;}
	.langBlock{
		margin: 139px 0 38px;
		a{
			text-decoration:none;
			font:12px $regular;
			color:$headerText;
			&:hover,&.activeLang{
				color:$menuBlue;
			}
			&:before{
				content:"|";
				color:#323131;
				margin:0 6px 0 0;
			}
			&:before:hover{color:#323131;}
			&:first-child:before{content:''!important;}
		}
	}
	.textContact{
		border-left:1px solid #2f2f2f;
		padding-left:38px;
		margin-left: 30px;
		.footerContact{
			margin-bottom:20px;
		}
		.noMarg{margin-bottom:0!important;}
	}
	.darkFooter{
		margin-top:10px;
		background:#1b1b1b;
		padding:5px 0;
		p{float:left;margin-top: 10px;}
		a{
			display:block;
			margin:0 auto;
			width:65px;
			
		}
	}
	.footerSoc{
		a{
			width:26px;
			height:26px;
			float:left;
			@include transition(0.2s);
			&:hover{@include opacity(0.8)}
			margin-left:7px;
			
		}
		.yt{background:url('../img/ytIcon.png') no-repeat;}
		.in{background:url('../img/inIcon.png') no-repeat;}
	}
} /* end footer */